/*/////SECTION ACCUEIL*/
#accueil {
  background-color: $primary-color;
  perspective: 50px;
  margin: auto;
  height: 100vh;
  @include flexCenter();
  flex-direction: column;
  // align-items: stretch;
  overflow: hidden;
}

#accueil h1 {
  font-size: 7vw;
  font-weight: bolder;
  white-space: nowrap;
  color: whitesmoke;
  // color: #e3ae8a;

  text-decoration: underline;
  text-decoration-color: $secondary-color;
  text-decoration-thickness: 0.5px;

  z-index: 1;
}

#container1,
#container2 {
  perspective: 20px;
  position: absolute;

  object-fit: cover;
  padding: 10px;
  border-radius: 1%;
  border: 2px $secondary-color solid;
}
#container1 {
  top: 0px;
  left: 0px;
  margin-top: 1%;
  margin-left: 5%;
}
#container2 {
  // top: 95%;
  bottom: 0px;
  right: 0px;
  margin-bottom: 1%;
  margin-right: 5%;
}

#inner1,
#inner2 {
  // width: 18em;
  // height: 18em;
  width: 40vh;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1%;
  // background-size: contain;
  // border: 2px solid white;
  transition: transform 0.5s;
}

#inner1 {
  background-image: url("../img/page1_accueil2.jpg");
}
#inner2 {
  background-image: url("../img/page1_accueil1bis.jpg");
}

@media all and (max-width: 900px) {
  #accueil h1 {
    font-size: 15vw;
    background-color: $secondary-color;
  }
}

/////ANIMATION CLOUD AND HODGEDOG
.hidden {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#hedgehog {
  position: absolute;
  width: 15vh;
  // max-width: 100%;
  // height: auto;
  left: 100%;
  top: 50%;
  filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
}
@media screen and (min-width: 900px) {
  #hedgehog {
    // border: 10px ridge palegreen;
    // width: 100px;
  }
}

#cloud1 {
  position: absolute;
  width: 30vh;
  top: 4%;
  animation-name: cloudMove;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media screen and (min-width: 900px) {
  #cloud1 {
    // border: 10px ridge palegreen;
    // max-width: 300px;
    // width: 100px;
  }
}

@keyframes cloudMove {
  0% {
    transform: translate3d(100vw, 0px, 0px);
    // animation-timing-function: ease-in;
    // transform: scale(1) translateY(0);
  }
  50% {
    transform: translate3d(40vw, 9vh, 0px);
    // animation-timing-function: ease-out;
    // transform: scale(1.5) translateY(25px);
  }
  100% {
    transform: translate3d(-20vw, 4px, 0px);
    // transform: scale(1) translateY(-400px);
  }
}
