/*/////SECTION SPECTACLE*/
.accordion {
  @include flexCenter();
  overflow: hidden;
  // transform: skew(-5deg);
  box-shadow: 0px 0px 71px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 2;
}

.accordion .card {
  flex: 1;
  transition: all 1s ease-in-out;
  /* height: 100vmin; */
  height: 100vh;
  position: relative;
  cursor: pointer;
}

.accordion .card .card__head {
  @include flexCenter();
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  min-width: 100%;
  margin: auto;
  padding: 0.5em;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ccc;
  background: rgba(0, 0, 0, 0.4);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
}

.accordion .card:hover {
  flex-grow: 3;
}
/*.accordion .card:hover img {	 filter: grayscale(0);}*/
.accordion .card:hover .card__head {
  height: 20%;
  text-align: center;
  /*top: calc(100% - 2em);	 */
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 2.5em;
  /*transform: rotate(0deg) skew(-5deg);*/
}
.accordion .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  /*filter: grayscale(100%);*/
}
/*.accordion .card:not(:nth-child(3)) {margin-right: .1em;}*/

#spectacle {
  position: relative;
}

#spectacle_square_top {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30vh solid transparent;
  border-bottom: 20vh solid transparent;
  border-left: 30vh solid $secondary-color;
  top: -30%;
  /* z-index: -1; */
}

#spectacle_square_bottom {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: -40%;
  border-top: 40vh solid transparent;
  border-bottom: 40vh solid transparent;
  border-right: 40vh solid $secondary-color;
  z-index: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: none;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  // width: 90%;
  // min-height: 95%;
  // margin: 2% auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  h2,
  p {
    margin: 0 1% 1em 1%;
    text-align: justify;
  }
}

.modal-center {
  text-align: center;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  /* font-weight: bold; */
  font-size: 4.5em;
  align-self: end;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* SLICKER CARUSEL*/
.carousel {
  width: 50vw;
  display: block;
  margin: 0 auto;
}
.carousel img {
  margin: 0 2px;
}
.slick-prev:before {
  /* content: "<"; */
  /* content: url(https://picsum.photos/40); */
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.slick-next:before {
  /* content: ">"; */
  /* content: url(https://picsum.photos/40); */
  color: black;
  font-size: 30px;
  font-weight: bold;
}
/*.carousel div:nth-child(1) {
      display: block;
      margin: 0 5px;
  }  
  .carousel  div:nth-child(2) {
      display: block;
      margin: 0 5px;
      cursor:pointer;
  }
  */

@media all and (min-width: 600px) {
  .modal-content {
    width: 98%;
    height: auto;
    margin: auto;
  }
  h2,
  p {
    margin-bottom: 1em;
  }
  .close {
    font-size: 5em;
    margin: 2%;
  }
}

@media all and (min-width: 900px) {
  .modal-content {
    width: 90%;
    height: auto;
    margin: auto;
  }
}

@media all and (min-width: 1200px) {
  .modal-content {
    // width: auto;
    margin: 2% 6%;
    padding: 0px;
  }
}
