$primary-color: rgba(204, 51, 51, 0.99); //#CC3333
// $primary-color: #ed9485;
$secondary-color: #d95e2b;
$tertiary-color: #e3482d;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
