/*SCSS started on 29/06/2020*/
/*/////SECTION ACCUEIL*/
@import url(//db.onlinewebfonts.com/c/6fcade7abbedc0b15b45d46f0b8eca84?family=CoquetteW00-Light);
#accueil {
  -webkit-perspective: 50px;
          perspective: 50px;
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#accueil h1 {
  font-size: 7vw;
  font-weight: bolder;
  white-space: nowrap;
  color: whitesmoke;
  text-decoration: underline;
  -webkit-text-decoration-color: #d95e2b;
          text-decoration-color: #d95e2b;
  text-decoration-thickness: 0.5rem;
  text-underline-offset: 20px;
  z-index: 1;
}

#container1,
#container2 {
  -webkit-perspective: 20px;
          perspective: 20px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 1%;
  border: 2px #d95e2b solid;
}

#container1 {
  top: 0px;
  left: 0px;
  margin-top: 1%;
  margin-left: 5%;
}

#container2 {
  bottom: 0px;
  right: 0px;
  margin-bottom: 1%;
  margin-right: 5%;
}

#inner1,
#inner2 {
  width: 40vh;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#inner1 {
  background-image: url("../img/page1_accueil2.jpg");
}

#inner2 {
  background-image: url("../img/page1_accueil1bis.jpg");
}

@media all and (max-width: 900px) {
  #accueil h1 {
    font-size: 15vw;
    background-color: #d95e2b;
  }
}

.hidden {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#hedgehog {
  position: absolute;
  width: 15vh;
  left: 100%;
  top: 50%;
  -webkit-filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
          filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
}

#cloud1 {
  position: absolute;
  width: 30vh;
  top: 4%;
  -webkit-animation-name: cloudMove;
          animation-name: cloudMove;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes cloudMove {
  0% {
    -webkit-transform: translate3d(100vw, 0px, 0px);
            transform: translate3d(100vw, 0px, 0px);
  }
  50% {
    -webkit-transform: translate3d(40vw, 9vh, 0px);
            transform: translate3d(40vw, 9vh, 0px);
  }
  100% {
    -webkit-transform: translate3d(-20vw, 4px, 0px);
            transform: translate3d(-20vw, 4px, 0px);
  }
}

@keyframes cloudMove {
  0% {
    -webkit-transform: translate3d(100vw, 0px, 0px);
            transform: translate3d(100vw, 0px, 0px);
  }
  50% {
    -webkit-transform: translate3d(40vw, 9vh, 0px);
            transform: translate3d(40vw, 9vh, 0px);
  }
  100% {
    -webkit-transform: translate3d(-20vw, 4px, 0px);
            transform: translate3d(-20vw, 4px, 0px);
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  width: 100vw;
  height: 100vh;
  z-index: -4;
}

.wrapper div {
  position: absolute;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  opacity: 0.8;
}

.animated {
  position: absolute;
}

.animated .one {
  border-radius: 100%;
  width: 60vw;
  height: 60vw;
  background-color: #373372;
  background-color: #dfae75;
  left: 10%;
  top: -30%;
  z-index: 3;
  -webkit-animation: fly 12s linear infinite;
          animation: fly 12s linear infinite;
  -webkit-transform: rotate(0) translate(20%) rotate(0);
          transform: rotate(0) translate(20%) rotate(0);
}

.animated .two {
  width: 50vw;
  height: 80vh;
  background-color: #7C336C;
  background-color: #dfae75;
  bottom: 3%;
  left: 8%;
  -webkit-animation: fly 5s linear infinite;
          animation: fly 5s linear infinite;
}

.animated .three {
  border-radius: 100%;
  width: 45vw;
  height: 45vw;
  bottom: -80px;
  right: -100px;
  background-color: #B3588A;
  background-color: #dfae75;
  -webkit-animation: flyPlus 8s linear infinite;
          animation: flyPlus 8s linear infinite;
  -webkit-transform: rotate(0) translate(10%) rotate(0);
          transform: rotate(0) translate(10%) rotate(0);
}

@-webkit-keyframes fly {
  100% {
    -webkit-transform: rotate(1turn) translate(100px) rotate(-1turn);
            transform: rotate(1turn) translate(100px) rotate(-1turn);
  }
}

@keyframes fly {
  100% {
    -webkit-transform: rotate(1turn) translate(100px) rotate(-1turn);
            transform: rotate(1turn) translate(100px) rotate(-1turn);
  }
}

@-webkit-keyframes flyPlus {
  100% {
    -webkit-transform: rotate(-1turn) translate(100px) rotate(1turn);
            transform: rotate(-1turn) translate(100px) rotate(1turn);
  }
}

@keyframes flyPlus {
  100% {
    -webkit-transform: rotate(-1turn) translate(100px) rotate(1turn);
            transform: rotate(-1turn) translate(100px) rotate(1turn);
  }
}

/*/////SECTION SPECTACLE*/
.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 71px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 71px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 2;
}

.accordion .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* height: 100vmin; */
  height: 100vh;
  position: relative;
  cursor: pointer;
}

.accordion .card .card__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  min-width: 100%;
  margin: auto;
  padding: 0.5em;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ccc;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordion .card:hover {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

/*.accordion .card:hover img {	 filter: grayscale(0);}*/
.accordion .card:hover .card__head {
  height: 20%;
  text-align: center;
  /*top: calc(100% - 2em);	 */
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 2.5em;
  /*transform: rotate(0deg) skew(-5deg);*/
}

.accordion .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /*filter: grayscale(100%);*/
}

/*.accordion .card:not(:nth-child(3)) {margin-right: .1em;}*/
#spectacle {
  position: relative;
}

#spectacle_square_top {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30vh solid transparent;
  border-bottom: 20vh solid transparent;
  border-left: 30vh solid #d95e2b;
  top: -30%;
  /* z-index: -1; */
}

#spectacle_square_bottom {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: -40%;
  border-top: 40vh solid transparent;
  border-bottom: 40vh solid transparent;
  border-right: 40vh solid #d95e2b;
  z-index: 1;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: none;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.modal-content h2,
.modal-content p {
  margin: 0.5em 1%;
  text-align: justify;
}

.modal-content h2 {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
}

.modal-center {
  text-align: center;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  /* font-weight: bold; */
  font-size: 4.5em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* SLICKER CARUSEL*/
.carousel {
  width: 50vw;
  display: block;
  margin: 0 auto;
}

.carousel img {
  margin: 0 2px;
}

.slick-prev:before {
  /* content: "<"; */
  /* content: url(https://picsum.photos/40); */
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.slick-next:before {
  /* content: ">"; */
  /* content: url(https://picsum.photos/40); */
  color: black;
  font-size: 30px;
  font-weight: bold;
}

/*.carousel div:nth-child(1) {
      display: block;
      margin: 0 5px;
  }  
  .carousel  div:nth-child(2) {
      display: block;
      margin: 0 5px;
      cursor:pointer;
  }
  */
@media all and (min-width: 600px) {
  .modal-content {
    width: 98%;
    height: auto;
    margin: auto;
  }
  h2,
  p {
    margin-bottom: 1em;
  }
  .close {
    font-size: 5em;
    margin: 2%;
  }
}

@media all and (min-width: 900px) {
  .modal-content {
    width: 90%;
    height: auto;
    margin: auto;
  }
}

@media all and (min-width: 1200px) {
  .modal-content {
    margin: 2% 6%;
    padding: 0px;
  }
}

/*/////SECTION PORTRAIT*/
#portrait_rect_left {
  position: absolute;
  background-color: #d95e2b;
  left: 0;
  height: 320vh;
  width: 5%;
}

#portrait_rect_right {
  position: absolute;
  background-color: #e3482d;
  right: 0;
  height: 250vh;
  width: 5%;
}

#portrait {
  background-color: rgba(204, 51, 51, 0.99);
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#portrait img {
  position: relative;
  /* left: 20px; */
  margin: auto;
  -webkit-filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
          filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
  -webkit-transition: -webkit-transform 0.4s, -webkit-filter 0.4s ease-in-out;
  transition: -webkit-transform 0.4s, -webkit-filter 0.4s ease-in-out;
  transition: transform 0.4s, filter 0.4s ease-in-out;
  transition: transform 0.4s, filter 0.4s ease-in-out, -webkit-transform 0.4s, -webkit-filter 0.4s ease-in-out;
}

#portrait img:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
          filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
}

.portrait_img_float1 img:hover {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.portrait_img_float2 img:hover {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.portrait_grid {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portrait_row {
  margin-bottom: 2%;
  position: relative;
  margin: auto 5vw;
  text-align: center;
  width: 30vw;
}

.portrait_name {
  font-family: "Amatic SC", cursive;
  font-size: 2.5em;
  text-align: center;
  margin: 0.1em 0;
}

.portrait_description {
  text-align: justify;
  margin: auto;
  margin-left: 1vw;
  margin-right: 1vw;
}

.card_cp * {
  text-align: left;
}

.card_js * {
  text-align: right;
}

.card_name {
  /* background-color: #d95e2b; */
  background-color: white;
  /* height: 200%; */
  /* margin-bottom: 50%; */
  border: 2px solid whitesmoke;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  /* margin-top: 1000px; */
  margin-top: -5%;
  /* z-index: -1; */
}

.portrait_description_cie {
  display: none;
  text-align: justify;
  text-align-last: center;
  width: 80%;
  background-color: #d95e2b;
  border: 2px solid whitesmoke;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

@media screen and (max-width: 1300px) {
  #portrait img {
    max-width: 20vw;
    margin-top: 1vh;
  }
}

@media screen and (max-width: 900px) {
  #portrait {
    height: 110vh;
  }
  #portrait img {
    max-width: 25vw;
    margin-top: 1vh;
  }
  .portrait_row {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  #portrait {
    height: 110vh;
  }
  #portrait img {
    max-width: 25vw;
    margin-top: 1vh;
  }
  .portrait_row {
    width: 90vw;
  }
}

/* Landscape */
@media only screen and (min-device-width: 480px) and (max-device-width: 740px) and (orientation: landscape) {
  #portrait {
    height: 220vh;
  }
  #portrait_rect_left {
    height: 220vh;
  }
}

/*/////SECTION GALLERIE*/
#gallerie {
  /* z-index: -1; */
  background-color: rgba(204, 51, 51, 0.99);
}

.gallerie_text {
  position: absolute;
  font-family: "Courier New";
  color: #e3482d;
  left: 50%;
  font-size: 1em;
  z-index: 1;
}

.gallerie_triangle1 {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 70vh solid transparent;
  border-bottom: 30vh solid #d95e2b;
  border-left: 99vw solid #d95e2b;
  z-index: -1;
}

.gallerie_grid {
  /* margin: auto 0; */
  /* height: 100%; */
  overflow: hidden;
  margin: auto;
  /* border: 1px solid seagreen; */
}

.gallerie_grid img {
  width: 20%;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.4s, -webkit-filter 0.7s ease-in-out;
  transition: -webkit-transform 0.4s, -webkit-filter 0.7s ease-in-out;
  transition: transform 0.4s, filter 0.7s ease-in-out;
  transition: transform 0.4s, filter 0.7s ease-in-out, -webkit-transform 0.4s, -webkit-filter 0.7s ease-in-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.gallerie_grid img:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Responsive layout - makes a two column-layout instead of four columns */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  /* #gallerie {
      height: 600vh;
    }
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      width: 95%;
    } */
}

/*/////SECTION CONTACT*/
#contact_square_top {
  /* display: none; */
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30vh solid #d95e2b;
  border-bottom: 20vh solid transparent;
  border-left: 30vh solid #d95e2b;
  z-index: -1;
  border: 0;
}

#contact_square_bottom {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10vh solid transparent;
  border-bottom: 10vh solid #d95e2b;
  border-left: 10vh solid transparent;
  border-right: 20vh solid #d95e2b;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: whitesmoke;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#tour h3 {
  font-family: "Amatic SC", cursive;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#tour p {
  text-align: center;
  font-family: "ProximaNova", "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#tour img {
  position: absolute;
  width: 100%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  top: 100vh;
}

@media all and (min-width: 1200px) {
  .animateLeafPosition81 {
    -webkit-animation-name: animateLeaf81;
            animation-name: animateLeaf81;
  }
  @-webkit-keyframes animateLeaf81 {
    0% {
      top: 100vh;
    }
    100% {
      top: 71vh;
    }
  }
  @keyframes animateLeaf81 {
    0% {
      top: 100vh;
    }
    100% {
      top: 71vh;
    }
  }
  .animateLeafPosition82 {
    -webkit-animation-name: animateLeaf82;
            animation-name: animateLeaf82;
  }
  @-webkit-keyframes animateLeaf82 {
    0% {
      top: 100vh;
    }
    100% {
      top: 78vh;
    }
  }
  @keyframes animateLeaf82 {
    0% {
      top: 100vh;
    }
    100% {
      top: 78vh;
    }
  }
  .animateLeafPosition83 {
    -webkit-animation-name: animateLeaf83;
            animation-name: animateLeaf83;
  }
  @-webkit-keyframes animateLeaf83 {
    0% {
      top: 100vh;
    }
    100% {
      top: 70vh;
    }
  }
  @keyframes animateLeaf83 {
    0% {
      top: 100vh;
    }
    100% {
      top: 70vh;
    }
  }
  .animateLeafPosition84 {
    -webkit-animation-name: animateLeaf84;
            animation-name: animateLeaf84;
  }
  @-webkit-keyframes animateLeaf84 {
    0% {
      top: 100vh;
    }
    100% {
      top: 79vh;
    }
  }
  @keyframes animateLeaf84 {
    0% {
      top: 100vh;
    }
    100% {
      top: 79vh;
    }
  }
  .animateLeafPosition85 {
    -webkit-animation-name: animateLeaf85;
            animation-name: animateLeaf85;
  }
  @-webkit-keyframes animateLeaf85 {
    0% {
      top: 100vh;
    }
    100% {
      top: 78vh;
    }
  }
  @keyframes animateLeaf85 {
    0% {
      top: 100vh;
    }
    100% {
      top: 78vh;
    }
  }
  .animateLeafPosition86 {
    -webkit-animation-name: animateLeaf86;
            animation-name: animateLeaf86;
  }
  @-webkit-keyframes animateLeaf86 {
    0% {
      top: 100vh;
    }
    100% {
      top: 73vh;
    }
  }
  @keyframes animateLeaf86 {
    0% {
      top: 100vh;
    }
    100% {
      top: 73vh;
    }
  }
}

@font-face {
  font-family: "CoquetteW00-Light";
  src: url("//db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.eot");
  src: url("//db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.woff") format("woff"), url("//db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6fcade7abbedc0b15b45d46f0b8eca84.svg#CoquetteW00-Light") format("svg");
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: inherit;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: "ProximaNova", "Roboto", sans-serif;
}

a {
  color: #0000ee;
}

a:hover {
  color: #0000ba;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "CoquetteW00-Light", cursive, Monospace, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 10vh;
  text-align: center;
  margin: 0px;
}

iframe {
  border: 0;
}

.envelope {
  display: none;
  font-size: 3rem;
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.contact {
  position: relative;
  display: none;
  min-width: 250px;
  min-height: 250px;
  width: 13%;
  height: 30%;
  text-align: center;
}

.contact p {
  width: 100%;
  height: 100%;
  top: 20%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flipCard {
  position: fixed;
  right: 1%;
  bottom: 1%;
  margin: 1%;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #ffffff;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.deleteContactClose {
  font-size: 2.5em;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0px;
  padding: 10px;
}

#spectacle {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.accordion {
  scroll-snap-align: start;
}
/*# sourceMappingURL=style2.css.map */